## Problem 1: Unique Words in a Sentence

### Problem Statement
Given a sentence, identify all unique words and display:
- Count of unique words
- Unique words themselves

### Input
```python
sentence = "python is easy and python is powerful"

In [1]:


sentence = input("Enter sentence: ")

words = sentence.split()
unique_words = set(words)

print("Unique words count:", len(unique_words))
print("Unique words:", unique_words)

Enter sentence:  python is easy and python is powerful

Unique words count: 5
Unique words: {'is', 'python', 'and', 'easy', 'powerful'}

## Problem 2: Highest Salary from Employee Data

### Problem Statement
Determine employee with highest salary.

In [2]:
employees = {
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

highest_employee = ""
highest_salary = 0

for name, salary in employees.items():
    if salary > highest_salary:
        highest_salary = salary
        highest_employee = name

print("Highest Salary:", highest_employee, "-", highest_salary)

Highest Salary: Ravi - 75000

## Problem 3: Find Maximum and Minimum Values

### Problem Statement
Find maximum and minimum numbers from list.

In [3]:
numbers = [45, 22, 89, 10, 66]

maximum = numbers[0]
minimum = numbers[0]

for num in numbers:
    if num > maximum:
        maximum = num
    if num < minimum:
        minimum = num

print("List:", numbers)
print("Max:", maximum)
print("Min:", minimum)

List: [45, 22, 89, 10, 66]
Max: 89
Min: 10

## Problem 4: Count Products Above Price Threshold

### Problem Statement
Count products priced above 1000.

In [4]:
prices = [450, 1200, 899, 1500, 300]

count = 0
for price in prices:
    if price > 1000:
        count += 1

print("Products above 1000:", count)

Products above 1000: 2

## Problem 5: Calculate Attendance Percentage

### Problem Statement
Calculate attendance percentage.

In [3]:
attendance = ["P", "P", "A", "P", "P"]

present_count = 0

for day in attendance:
    if day == "P":
        present_count += 1

percentage = (present_count / len(attendance)) * 100

print("Attendance Percentage:", percentage)

Attendance Percentage: 80.0

## Problem 6: Remove Duplicate Phone Numbers

### Problem Statement
Remove duplicate phone numbers.

In [6]:
phone_numbers = [9876543210, 9123456789, 9876543210]

unique_numbers = set(phone_numbers)

print("Unique phone numbers:", unique_numbers)

Unique phone numbers: {9876543210, 9123456789}

## Problem 7: Count Character Frequency

### Problem Statement
Count frequency of each character.

In [7]:
text = "python"

frequency = {}

for char in text:
    if char in frequency:
        frequency[char] += 1
    else:
        frequency[char] = 1

print(frequency)

{'p': 1, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

## Problem 8: Convert List to Tuple

### Problem Statement
Convert list to tuple.

In [8]:
numbers = [10, 20, 30]

result = tuple(numbers)

print("Tuple:", result)

Tuple: (10, 20, 30)

## Problem 9: Check Key Exists in Dictionary

### Problem Statement
Check if employee key exists.

In [4]:
employees = {
    "Ravi": 75000,
    "Anita": 68000
}

key_to_check = "Ravi"

if key_to_check in employees:
    print("Employee exists")
else:
    print("Employee does not exist")

Employee exists

## Problem 10: Calculate Average Marks

### Problem Statement
Calculate average marks.

In [5]:
marks = [70, 80, 65, 75]

total = 0

for mark in marks:
    total += mark

average = total / len(marks)

print("Average Marks:", average)

Average Marks: 72.5